@{
    ViewBag.Title = "Error 404";
}

<div class="middle-box text-center animated fadeInDown">
    <h1>404</h1>
    <h3 class="font-bold">@ViewData["SubTitle"]</h3>

    <div class="error-desc">
        @ViewData["Message"]
    </div>
</div>

@section Scripts{


}
